<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginKeeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1100E9171F3D9E8C0066C5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1100E9291F3DA9700066C5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1100E9371F3DAD1D0066C5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>111EB6C81F0E2DDD00B12AC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11C5DC551F4E1C62007CD705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D97FA61F4C333000E4107A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11ED00041F7132C70025F1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
